---
import i18next from "i18next";
import { Sparkles } from "@lucide/astro";
import InputIsland from "@/components/ui/InputIsland.tsx";
import SocialIcons from "@/components/SocialIcons.astro";
const sparkles = Array.from({ length: 12 }).map(() => ({
  size: 12 + Math.random() * 24,
  top: Math.random() * 100,
  left: Math.random() * 100,
  opacity: (20 + Math.random() * 50).toFixed(0),
}));
---

<div class="relative overflow-hidden min-h-[500px]">
  <div class="flex flex-col items-center justify-start px-8 text-center">
    <div class="animate-fade-in animate-duration-[800ms] animate-delay-200">
      <Sparkles size={14} class="text-gray-700/20" />
      <span>{i18next.t("home.soon")}</span>
    </div>
    <h1 class="animate-fade-in animate-duration-[800ms] animate-delay-400">
      {i18next.t("home.headline")}
    </h1>
    <p class="animate-fade-in animate-duration-[800ms] animate-delay-600">
      {i18next.t("home.subtext")}
    </p>
    <InputIsland client:load />
    <SocialIcons />
  </div>
</div>
