---
import logo from "../assets/logo.png";
---

<header class="flex justify-between items-center p-6 md:p-8 w-full">
  <!-- Logo + Nombre -->
  <div class="flex items-center gap-3">
    <div class="w-10 h-10 bg-black rounded-xl flex items-center justify-center">
      <img
        src={logo.src}
        alt="heyfrwrd logo"
        fetchpriority="high"
        class="w-8 h-8"
      />
    </div>
    <span class="text-2xl font-bold text-gray-900 tracking-tight">
      heyfrwrd
    </span>
  </div>
</header>
