---
import i18next from "i18next";
import HeadHrefLangs from "@/components/HeadHrefLangs.astro";
import Header from "@/components/Header.astro";
import "@/styles/global.css";

const currentLocale = Astro.currentLocale || "en";
---

<html lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <HeadHrefLangs />
    <title>{i18next.t("site.title")}</title>
    <meta name="description" content={i18next.t("site.description")} />
  </head>
  <body class="max-h-screen m-0 w-full">
    <Header />
    <slot />
  </body>
</html>
